/.vscode
/characters.py
/expenses.py
/import_random_practice.py
/meeting.py
/options.py
/Profiles
/Random number guessing game example.py
/shopping_list.py
/shopping_list_redoing_for_practice.py
/stubs.v4
/team.py
/wishlist.py